@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;0,700;1,300&display=swap');

* {
	font-family: 'Exo 2', sans-serif;
	/* font-weight: 300; */
}

p {
	font-weight: 300;
}

header {
	background-color: #252c41;
	padding: 1em;
	text-align: center;
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 3em;
}

.grid {
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 80px 3fr 80px 3fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		'header-click header-click'
		'code-click wrapper-click'
		'header-hover header-hover'
		'code-hover wrapper-hover'
		'header-scroll header-scroll'
		'code-scroll wrapper-scroll';
}

.row-header {
	background-color: #eee;
	line-height: 80px;
	padding: 0;
	margin: 0;
}

.row-header.click {
	grid-area: header-click;
}

.code.click {
	grid-area: code-click;
}

.wrapper.click {
	grid-area: wrapper-click;
}

.row-header.hover {
	grid-area: header-hover;
}

.code.hover {
	grid-area: code-hover;
}

.wrapper.hover {
	grid-area: wrapper-hover;
}

.row-header.scroll {
	grid-area: header-scroll;
}

.code.scroll {
	grid-area: code-scroll;
}

.wrapper.scroll {
	grid-area: wrapper-scroll;
}

.wrapper {
	margin: 0 auto;
	padding: 100px;
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.box {
	width: 100px;
	height: 100px;
	/* border: black 1px solid; */
	border-radius: 5px;
	margin: 2em;
	display: inline-block;
}

.one {
	background-color: #d0dfe6;
}

.two {
	background-color: #f71e35;
}

.three {
	background-color: #1794a5;
}

.four {
	background-color: #032030;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}

.component {
	text-align: center;
	min-width: 50px;
	max-width: 100px;
	min-height: 50px;
	background-color: #9922ee;
	display: 'flex';
	align-items: 'center';
	padding: 10px;
}

#scroller-outer {
	overflow: scroll;
	width: 300px;
	height: 300px;
}

.scroller-inner {
	background-color: tomato;
	width: 100%;
	height: calc(200% + 100px);
}

.scroller-inner > .box {
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.fixed {
	position: fixed;
	left: 250px;
	top: 450px;
}

.test-box {
	overflow: visible;
	width: 120px;
	height: 50px;
	background-color: #330099;
	color: white;
}

.test-class {
	background-color: violet;
	color: #000;
	padding: 2em;
	font-size: 1.5em;
}

.intro-wrapper {
	margin: 0 auto;
	max-width: 800px;
}

.box-wrapper {
	display: flex;
	place-content: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 35px;
}

.close-all-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.row {
	max-width: 750px;
}

.inline-code {
	background-color: rgb(38, 50, 56);
	color: rgb(195, 206, 227);
	padding: 0 5px;
}

.fancy-tooltip-class {
	background-color: tomato;
	color: #032030;
	padding: 1em;
}

.flex-center {
	display: flex;
	justify-content: space-between;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w100 {
	width: 100%;
}

.divider {
	margin: 0 auto;
	width: 85%;
	height: 1px;
	background-color: #999;
}

.possible-description {
	font-weight: 500;
}

.possible-description,
.possible-options,
.possible-title {
	padding: 0.5em;
}

.possible-item {
	text-align: center;
	background-color: #eee;
	display: flex;
	margin-bottom: 1em;
}

.possible-title {
	font-weight: 700;
	font-size: 2em;
}

.possible-options {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	background-color: #ede;
	padding: 0.5em;
	margin: 0.5em;
	width: 35%;
}

.possible-info {
	width: 65%;
	padding: 0.5em;
	margin: 0.5em;
}

.possible-list {
	margin: 0 auto;
	list-style: circle;
}

.possible-list > li {
	text-align: left;
	padding: 0.15em 0;
}

.possible-info > .possible-description {
	margin: 0;
}

/* .possible-info > .possible-description:last-child {
	margin-top: 0;
	margin-bottom: 1em;
} */

.possible-info > .possible-description:nth-child(3) {
	margin-top: 1em;
	/* margin-bottom: 0.25em; */
}

@media (max-width: 800px) {
	.intro-wrapper {
		padding: 0 1em;
	}
}

@media (max-width: 560px) {
	.flex-center {
		justify-content: center;
	}
	.possible-item {
		flex-direction: column;
		align-items: center;
	}
	.possible-info,
	.possible-options {
		width: 100%;
	}
}

.side-button {
	z-index: 10;
	position: fixed;
	top: 1em;
	left: 1em;
	min-width: 4em;
	min-height: 4em;
	border: none;
	border-radius: 10em;
	transition: all 0.6s;
}

.closed {
	background-color: white;
	color: #032030;
}

.open {
	background-color: #032030;
	color: white;
}

.sidebar {
	z-index: 5;
	box-sizing: border-box;
	padding: 6em 3em 3em 3em;
	position: fixed;
	top: 0;
	width: 300px;
	height: 100vh;
	background-color: #252c41;
	color: white;
	transition: all ease-in-out 0.6s;
}

.sidebar-open {
	left: 0px;
}

.sidebar-closed {
	left: -300px;
}

.sidebar-item {
	padding: 1em 0;
}
.sidebar-link {
	color: white;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
}
.sidebar-link:hover {
	color: #1794a5;
}

.sidebar-link-active {
	color: #f71e35;
}

footer {
	padding: 0.5em 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #252c41;
	text-align: center;
	color: white;
}

footer p {
	font-size: 0.75em;
}

footer a {
	color: #1794a5;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer a:visited {
	color: #1794a5;
}

.installation {
	font-size: 1.25em;
	padding: 1em;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #f71e35;
}

.installation p {
	padding: 0;
	margin: 0;
}

.installation span {
	font-size: 1rem;
	font-weight: bold;
}

.margin-v {
	margin-top: 65px;
	margin-bottom: 65px;
}
