@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;0,700;1,300&display=swap');

* {
	font-family: 'Exo 2', sans-serif;
	/* font-weight: 300; */
}

p {
	font-weight: 300;
}

header {
	background-color: #252c41;
	padding: 1em;
	text-align: center;
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 3em;
}

.grid {
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 80px 3fr 80px 3fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		'header-click header-click'
		'code-click wrapper-click'
		'header-hover header-hover'
		'code-hover wrapper-hover'
		'header-scroll header-scroll'
		'code-scroll wrapper-scroll';
}

.row-header {
	background-color: #eee;
	line-height: 80px;
	padding: 0;
	margin: 0;
}

.row-header.click {
	grid-area: header-click;
}

.code.click {
	grid-area: code-click;
}

.wrapper.click {
	grid-area: wrapper-click;
}

.row-header.hover {
	grid-area: header-hover;
}

.code.hover {
	grid-area: code-hover;
}

.wrapper.hover {
	grid-area: wrapper-hover;
}

.row-header.scroll {
	grid-area: header-scroll;
}

.code.scroll {
	grid-area: code-scroll;
}

.wrapper.scroll {
	grid-area: wrapper-scroll;
}

.wrapper {
	margin: 0 auto;
	padding: 100px;
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.box {
	width: 100px;
	height: 100px;
	/* border: black 1px solid; */
	border-radius: 5px;
	margin: 2em;
	display: inline-block;
}

.one {
	background-color: #d0dfe6;
}

.two {
	background-color: #f71e35;
}

.three {
	background-color: #1794a5;
}

.four {
	background-color: #032030;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}

.component {
	text-align: center;
	min-width: 50px;
	max-width: 100px;
	min-height: 50px;
	background-color: #9922ee;
	display: 'flex';
	align-items: 'center';
	padding: 10px;
}

.scroller-outer {
	overflow: scroll;
	width: 300px;
	height: 300px;
}

.scroller-inner {
	background-color: tomato;
	width: 100%;
	height: calc(200% + 100px);
}

.scroller-inner > .box {
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.fixed {
	position: fixed;
	left: 250px;
	top: 450px;
}

.test-box {
	overflow: visible;
	width: 120px;
	height: 50px;
	background-color: #330099;
	color: white;
}

.test-class {
	background-color: violet;
	color: #000;
	padding: 2em;
	font-size: 1.5em;
}

/* body {
	--tooltip-arrow-size: 10px;
	--tooltip-arrow-offset: calc(var(--tooltip-arrow-size) * 14.14213562373095);
} */

/* --------------------------------------------- */
/* TODO remove this from CSS, implement using JS */
/* .tooltip-arrow-wrapper,
.tooltip-arrow-inner {
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: -1;
}

.tooltip-arrow-inner {
	transform: rotate(45deg);
	background: #333;
} */

/* TODO remove this from CSS, implement using JS */
/* --------------------------------------------- */

/* .tooltip-arrow {
	position: absolute;
	width: 8px;
	height: 8px;
	border-color: red;
	border-style: solid;
	zIndex: this.props.index - 1,
} */

.intro-wrapper {
	margin: 0 auto;
	max-width: 800px;
}

.box-wrapper {
	display: flex;
	place-content: center;
	max-width: 250px;
	margin: 0 auto;
	padding: 35px;
}

.row {
	max-width: 750px;
}

.inline-code {
	background-color: rgb(38, 50, 56);
	color: rgb(195, 206, 227);
	padding: 0 5px;
}

.fancy-tooltip-class {
	/* border-radius: 5px; */
	background-color: tomato;
	color: #032030;
	padding: 1em;
}

.flex-center {
	display: flex;
	justify-content: space-between;
}

.w100 {
	width: 100%;
}

.divider {
	margin: 0 auto;
	width: 85%;
	height: 1px;
	background-color: #999;
}

.possible-description {
	font-weight: 500;
}

.possible-description,
.possible-options,
.possible-title {
	padding: 0.5em;
}

.possible-item {
	text-align: center;
	background-color: #eee;
	display: flex;
	margin-bottom: 1em;
}

.possible-title {
	font-weight: 700;
	font-size: 2em;
}

.possible-options {
	display: flex;
	align-items: center;

	background-color: #ede;
	padding: 0.5em;
	margin: 0.5em;
	width: 35%;
}

.possible-info {
	width: 65%;
	padding: 0.5em;
	margin: 0.5em;
}

.possible-list {
	margin: 0 auto;
	list-style: circle;
}

.possible-list > li {
	text-align: left;
	padding: 0.15em 0;
}
