@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;0,700;1,300&display=swap');

* {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
}

header {
	background-color: #252c41;
	padding: 1em;
	text-align: center;
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 3em;
}

.grid {
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 80px 3fr 80px 3fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		'header-click header-click'
		'code-click wrapper-click'
		'header-hover header-hover'
		'code-hover wrapper-hover';
}

.row-header {
	background-color: #eee;
	line-height: 80px;
	padding: 0;
	margin: 0;
}

.row-header.click {
	grid-area: header-click;
}

.code.click {
	grid-area: code-click;
}

.wrapper.click {
	grid-area: wrapper-click;
}

.row-header.hover {
	grid-area: header-hover;
}

.code.hover {
	grid-area: code-hover;
}

.wrapper.hover {
	grid-area: wrapper-hover;
}

.wrapper {
	margin: 0 auto;
	padding: 100px;
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.box {
	width: 100px;
	height: 100px;
	/* border: black 1px solid; */
	border-radius: 5px;
	margin: 2em;
}

.one {
	background-color: #d0dfe6;
}

.two {
	background-color: #f71e35;
}

.three {
	background-color: #1794a5;
}

.four {
	background-color: #032030;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}

.component {
	text-align: center;
	min-width: 50px;
	max-width: 100px;
	min-height: 50px;
	background-color: #9922ee;
	display: 'flex';
	align-items: 'center';
	padding: 10px;
}

.test-box {
	overflow: visible;
	width: 120px;
	height: 50px;
	background-color: #330099;
	color: white;
}

.test-class {
	background-color: violet;
	color: #000;
	padding: 3em;
	font-size: 1.5em;
}

.tooltip-default-style {
	padding: 15px;
	background-color: #333;
	color: white;
	border-radius: 5px;
}

/* TODO split this CSS into modules */

.tooltip-helper-class[data-popper-placement^='top'] .tooltip-arrow {
	bottom: -4px;
}

.tooltip-helper-class[data-popper-placement^='bottom'] .tooltip-arrow {
	top: -4px;
}

.tooltip-helper-class[data-popper-placement^='left'] .tooltip-arrow {
	right: -4px;
}

.tooltip-helper-class[data-popper-placement^='right'] .tooltip-arrow {
	left: -4px;
}

.tooltip-arrow,
.tooltip-arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	z-index: -1;
}

.tooltip-arrow::before {
	content: '';
	transform: rotate(45deg);
	background: #333;
}

/* .tooltip-arrow {
	position: absolute;
	width: 8px;
	height: 8px;
	border-color: red;
	border-style: solid;
	zIndex: this.props.index - 1,
} */

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-close {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-close {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-100px);
	}
}

@keyframes pop {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes pop-close {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(100px);
	}
}

@keyframes scale {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes scale-close {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
